<section class="advantages">
    <div class="advantages-title-content">
        <div class="advantages-line"></div>
        <div class="advantages-title-content2">
            <h2 class="advantages-h2">la puissance de l'électrique</h2>
        </div>
    </div>
    <div class="advantages-container-cards">
        <div class="advantages-card">
            <div class="advantages-card-imgBx">
                <img src="./../../assets/images/silence.png" alt="icone silence">
            </div>
            <div class="advantages-text-content">
                <h3  class="advantages-h3">silencieux</h3>
                <p>L'absence de moteur thermique élimine les bruits associés et le démarrage se fait au quart de tour, 
                sans embrayage, et surtout sans vibrations.</p>
            </div>
        </div>
        <div class="advantages-card">
            <div class="advantages-card-imgBx">
                <img src="./../../assets/images/ecologique.png" alt="icone ecologique">
            </div>
            <div class="advantages-text-content">
                <h3 class="advantages-h3">reduction des gaz à effet de serre</h3>
                <p>La voiture électrique participe à la nécessaire transition écologique. 
                    car le bilan carbone de son usage est avantageux : lorsqu'elle est en mouvement, 
                    elle n'émet pas de co2 et de fumée d'hydrocarbures.
                </p>
            </div>
        </div>
        <div class="advantages-card">
            <div class="advantages-card-imgBx">
                <img src="./../../assets/images/fiabilite.png" alt="icone fiabilite">
            </div>
            <div class="advantages-text-content">
                <h3 class="advantages-h3">Fiabilité du véhicule</h3>
                <p>Beaucoup moins de pièces d'usure (courroies de distribution, pistons, pots d'échappement, bougies...) que leurs cousines essence ou diesel, dites thermiques
                </p>
            </div>
        </div>
        <div class="advantages-card">
            <div class="advantages-card-imgBx">
                <img src="./../../assets/images/maintenance.png" alt="maintenance">
            </div>
            <div class="advantages-text-content">
                <h3 class="advantages-h3">facilité d'entretien et de maintenance</h3>
                <p>Le besoin de remplacer les freins et les plaquettes est aussi moins fréquent avec un modèle électrique. 
                    Cela tient, en grande partie au système de freinage, 
                    qui récupère une partie de l'énergie cinétique créée par le mouvement de l'automobile 
                    pour en faire de l'électricité et gagner de l'autonomie.
                </p>
            </div>
        </div>

