.row{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 100%;
    min-height: 57vh;
}
.connexion{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-connexion{
    width: 50%;
    text-align: center;
    padding: 20px;
}
.input-connexion{
    padding: 15px;
    width: 100%;
    border-radius: 15px;
}
.input-connexion input[type="email"], input[type="password"]{
    padding: 20px;
    background-color: #577a865f;
    border: none;
    width: 100%;
    border-radius: 15px;
}
.btn-conn{
    background-color: #07485B;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}
.about-connexion{
    display: flex;
    flex-direction: row;
}
.about-conn{
    padding: 25px;
}
a:link{
    text-decoration: none;
    font-style: none;
}
.lien{
    cursor: pointer;
}