<footer class="footer">
    <img class="footer-logo" src='../../assets/images/white_logo.png' alt="logo Drive in'Green">
    <nav class="footer-nav">
        <ul class="footer-ul">
            <li routerLink="/booking" class="footer-li">Réservation</li>
            <li routerLink="/contact" class="footer-li">Contact</li>
            <li routerLink="/404" class="footer-li">Mentions légales</li>
            <li routerLink="/404" class="footer-li">Politique de confidentialité</li>
        </ul>
    </nav>
    <p class="footer-copyright">Copyright © 2022. DRIVE IN’Green. All rights reserved.</p>
</footer>
