<div class="subsection">
    <div class="subsection-banner">
        <div class="subsection-container">
        <div class="subsection-imgBx">
            <img src="assets/images/white_logo.png" alt="logo">
        </div>
        <br/>
        <div class="subsection-text-content">
        <br/>
        <div class="subsection-text">
            <p>Saississez <span>l'occasion</span>,</p>
            <p>Passez à <span>l'électrique !</span></p>
        </div>
        <br/>
        <div class="subsection-hashtags">
            <p>#makethegreenmove</p>
            <p>#idriveelectric</p>
        </div>
    </div>
    </div>
</div>
</div>
