<div class="container">
    <div class="contactForm">
        <form class="contact">
            <div class="depart">
                <p class="fieldset">Départ</p>
                <div class="row100">
                    <div class="inputBx50">
                        <div class="input-style">
                            <img src="./../../assets/images/calendar.png" alt="date">
                            <input type="date">
                        </div>
                    </div>
                    <div class="inputBx50">
                        <div class="input-style">
                            <img src="./../../assets/images/clock.png" alt="hour">
                            <input type="time" name="time" placeholder="Heure">
                        </div>
                    </div>
                </div>
                <div class="row100">
                    <div class="inputBx100">
                        <div class="input-style">
                            <img src="./../../assets/images/localisation.png" alt="localize">
                            <input placeholder="Départ"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="arrivee">
                <p class="fieldset">Arrivée</p>
                <div class="row100">
                    <div class="inputBx50">
                        <div class="input-style">
                            <img src="./../../assets/images/calendar.png" alt="date">
                            <input type="date" name="date" placeholder="Date">
                        </div>
                    </div>
                    <div class="inputBx50">
                        <div class="input-style">
                            <img src="./../../assets/images/clock.png" alt="time">
                            <input type="time" name="time" placeholder="Heure">
                        </div>
                    </div>
                </div>
                <div class="row100">
                    <div class="inputBx100">
                        <div class="input-style">
                            <img src="./../../assets/images/localisation.png" alt="localize">
                            <input placeholder="Arrivée"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="buttons-contain">
                    <button>Annuler</button>
                    <input type="submit" name="" value="Continuer">
                </div>
            </div>
        </form>
    </div>
</div>
