<section class="presentation">

    <div class="presentation-cars-container">
        <div class="presentation-cars-card">
            <div class="presentation-cars-card-selection">
                <input type="radio" name="type-cars">
            </div>
            <div class="presentation-cars-card-imgBx">
                <img src="./../../assets/images/BMW_i3.png" alt="BMW_i3">
            </div>
            <div class="presentation-text-content">
                <h3 class="presentation-h3">Citadines</h3>
                <p>(ou classe similaire)</p>
            </div>
        </div>
        <div class="presentation-cars-card">
            <div class="presentation-cars-card-selection">
                <input type="radio" name="type-cars">
            </div>
            <div class="presentation-cars-card-imgBx">
                <img src="./../../assets/images/TESLA_modelX.png" alt="Tesla_classeS">
            </div>
            <div class="presentation-text-content">
                <h3 class="presentation-h3">Berlines</h3>
                <p>(ou classe similaire)</p>
            </div>
        </div>
        <div class="presentation-cars-card">
            <div class="presentation-cars-card-selection">
                <input type="radio" name="type-cars">
            </div>
            <div class="presentation-cars-card-imgBx">
                <img src="./../../assets/images/Renault_kangoo.png" alt="Renault_kangoo">
            </div>
            <div class="presentation-text-content">
                <h3 class="presentation-h3">Utilitaires</h3>
                <p>(ou classe similaire)</p>
            </div>
        </div>
    </div>
</section>