<div class="subsection-electric">
<div class="subsection2">
    <div class="subsection2-banner">
        <div class="subsection2-container">
        <div class="subsection2-text-content">
            <h2>Qui est Drive <br>in'Green?</h2>
        <br/>
        <div class="subsection2-text">
            <p>Drive in'Green est une entreprise française, implantée partout en Europe, créée par le startup studio corporate Wefound. Drive in'Green est engagée en faveur d’une mobilité durable et d’une économie circulaire, et désire offrir au plus grand nombre la possibilité de rouler en électrique. Drive in'Green part du constat que les automobilistes hésitent à acheter un véhicule électrique d’occasion : ils ne sont pas confiants vis-à-vis de l’état de santé de la batterie et de l’autonomie.</p>
        </div>
        <br/>
        <div class="subsection2-hashtags">
            <p>Drive in'Green est le seul spécialiste du véhicule électrique d’occasion, qui vous accompagne dans votre passage à l’électrique, du choix du véhicule aux questions de recharge.</p>
        </div>
    </div>
    </div>
</div>
</div>
<div class="presentation-cars-card-imgBx">
  <img src="assets/images/station.png" alt="logo">
</div>
<div class="subsection3">
    
    <div class="subsection3-banner">
        <div class="subsection3-container">
        <div class="subsection3-text-content">
            <h2>Pourquoi <br>l'électrique ? </h2>
        <br/>
        <div class="subsection3-text">
            <p>Pour vous faire passer à la mobilité durable : sans particule fine issues du moteur, sans émission de CO2 durant l’utilisation.</p>
        </div>
    </div>
    </div>
</div>
</div>
</div>
