<div class="subsection-electric">
  
    <div class="subsection2">
        <div class="subsection2-banner">
            <div class="subsection2-container">
            <div class="subsection2-text-content">
                <h2>L'application Drive in'Green</h2>
            <br/>
            <div class="subsection2-text">
                <h3>Restez connecté avec Drive in'Green <br/>sur votre téléphone mobile et votre iPad</h3>
                <p>Utilisez l'appli Drive in'Green sur votre téléphone mobile est le moyen le plus simple de sélectionner et de réserver un véhicule de tourisme ou un utilitaire en quelques secondes, à tout moment et partout dans le monde depuis nos 3 800 stations dans plus de 130 pays.</p>
            </div>
        </div>
    </div>