<div class="container">
  <div class="contactForm">
    <form class="contact">
      <div class="row100">
        <div class="inputBx50">
          <div class="input-style">
            <input type="text" name="nom" placeholder="Nom" />
          </div>
        </div>
        <div class="inputBx50">
          <div class="input-style">
            <input type="text" 
                    name="prénom" 
                    placeholder="Prénom" />
          </div>
        </div>
      </div>
      <div class="row100">
        <div class="inputBx50">
          <div class="input-style">
            <input type="tel" name="telephone" placeholder="Téléphone" />
          </div>
        </div>
        <div class="inputBx50">
          <div class="input-style">
            <input type="email" name="email" placeholder="Email" />
          </div>
        </div>
      </div>
      <div class="row100">
        <div class="inputBx100">
          <textarea
            placeholder="Informations Complémentaires"
            class="input-style"
            type="text"
            name="informations"
          ></textarea>
        </div>
      </div>
      <div class="row100-total">
        <div class="total-contain">
          <p class="total">Coût Total</p>
          <p class="price">350 €</p>
        </div>
      </div>
      <div class="row">
        <div class="buttons-contain">
          <button>Annuler</button>
          <input type="submit" name="" value="Continuer" />
        </div>
      </div>
    </form>
  </div>
</div>
