<div class="informations">
    <h1>Vos informations personnelles</h1>
    <div class="nom-prenom">
        <div class="nom">
         <p class="personnal-info" >{{user.Nom}} </p>

        </div>
        <div class="prenom">
            <p class="personnal-info">{{user.Prenom}}</p>
        </div>
    </div>
    <div class="info-connexion">
        <div class="email">
            <p class="personnal-info">{{user.Email}}</p>
        </div>
        <div class="mdp">
            <p class="personnal-info" type="password">{{user.Password}}</p>
        </div>
    </div>
    <div class="autres-infos">
        <div class="ddn">
            <p class="personnal-info" >{{user.Date}}</p>

        </div>
        <div class="adresse">
            <p class="personnal-info" >{{user.Adresse}}</p> 
        </div>
        <div class="tel">
            <p class="personnal-info" >{{user.Phone}}</p>
        </div>
    </div>
    <div class="btn">
        <div class="modifier">
            <button>Modifier</button>
        </div>
        <div class="valider">
            <button>Valider</button>
        </div>
    </div>
</div>