
<div class="container">
    <div class="container">
    <div class="title-content">
        <div class="title-content2">
            <h2 class="presentation-h2">Contactez-nous </h2> 
        </div>
            <div class="presentation-line"></div>
       </div>
    </div>
    <div class="contactForm">
      <form class="contact">
        <div class="row100">
          <div class="inputBx50">
            <div class="input-style">
              <input type="text" name="nom" placeholder="Nom" />
            </div>
          </div>
          <div class="inputBx50">
            <div class="input-style">
              <input type="text" 
                      name="prénom" 
                      placeholder="Prénom" />
            </div>
          </div>
        </div>
        <div class="row100">
          <div class="inputBx50">
            <div class="input-style">
              <input type="tel" name="telephone" placeholder="Téléphone" />
            </div>
          </div>
          <div class="inputBx50">
            <div class="input-style">
              <input type="email" name="email" placeholder="Email" />
            </div>
          </div>
        </div>
        <div class="row100">
            <div class="inputBx100">
              <div class="input-style">
                <input type="text" name="reservation" placeholder="N° de réservation" />
              </div>
            </div>
        </div>
        <div class="row100">
          <div class="inputBx100">
            <textarea
              placeholder="Message"
              class=" input-style"
              type="text"
              name="message"
            ></textarea>
          </div>
        </div>
        <div class="row">
          <div class="buttons-contain">
            <button routerLink="/">Annuler</button>
            <input type="submit" name="" value="Envoyer" />
          </div>
        </div>
      </form>
    </div>
    <div class="sous-conditions">Les informations que vous communiquez sont destinées à Drive in Green® qui les conserve pour traiter votre requête. Conformément à la loi "informatique et libertés" du 6 janvier 1978 modifiée en 2004, vous pouvez exercer vos droits d'opposition, d'interrogation, d'accès et de rectification sur les données vous concernant. Merci d'utiliser ce formulaire pour toutes demandes.</div>
  </div>
  