<header class="header">
    <div class="header-content">
        <div class="header-logo">
            <img src="./../../assets/images/logo1.png" alt="logo">
        </div>
        <nav class="header-nav">
            <ul class="header-ul">
                <li class="header-li" id="reservation">Réservation</li>
                <li class="header-li" id="services">Nos services</li>
                <li class="header-li" id="ethique">Notre éthique</li>
                <li class="header-li" id="contact">Contact</li>
            </ul>
            <button class="header-button">Connexion</button>
        </nav>
    </div>
    <div class="construction_message">
        <h1>Ce site fictif est en construction</h1>
        <p>Mais vous pouvez toujours admirer ce merveilleux écran en attendant :)</p>    
    </div>
</header>

