<section class="presentation">
    <div class="title-content">
        <div class="title-content2">
            <h2 class="presentation-h2">Drive in'Green </h2> 
        </div>
            <div class="presentation-line"></div>
       
    </div>

    <p class="presentation-p">En France, en Allemagne et dans d’autres pays en Europe et dans le monde, 
        DRIVE IN’Green est un loueur pionnier de la location de voiture 100% électrique. 
        De plus en plus d’agences et comptoirs du réseau DRIVE IN’Green, en ville, 
        aux gares et aux aéroports vous permettent de louer une voiture électrique ainsi que des utilitaires électriques 
        pour effectuer vos trajets vers et sur votre lieu de destination dans un respect total de l’environnement. 
        La location de véhicule électrique au mois tout inclus c'est possible grâce à DRIVE IN’Green. 
        Peugeot 208e, Smart électrique, DS3 CrossBack E-tense, BMW i3... 
        tous ces modèles sont disponibles à la location mensuelle tout inclus et sans engagement via DRIVE IN’Green. 
        Une bonne manière de faire des économies tout est pris en charge : entretien, assurance... 
        et grâce à l'électrique vous ne payez plus le carburant alors faites vos calculs et réservez votre véhicule 
        à un tarif mensuel fixe.
    </p>
    <div class="presentation-cars-container">
        <div class="presentation-cars-card">
            <div class="presentation-cars-card-imgBx">
                <img src="./../../assets/images/BMW_i3.png" alt="BMW_i3">
            </div>
            <div class="presentation-text-content">
                <h3 class="presentation-h3">Citadines</h3>
                <p>(ou classe similaire)</p>
            </div>
        </div>
        <div class="presentation-cars-card">
            <div class="presentation-cars-card-imgBx">
                <img src="./../../assets/images/TESLA_modelX.png" alt="Tesla_classeS">
            </div>
            <div class="presentation-text-content">
                <h3 class="presentation-h3">Berlines</h3>
                <p>(ou classe similaire)</p>
            </div>
        </div>
        <div class="presentation-cars-card">
            <div class="presentation-cars-card-imgBx">
                <img src="./../../assets/images/Renault_kangoo.png" alt="Renault_kangoo">
            </div>
            <div class="presentation-text-content">
                <h3 class="presentation-h3">Utilitaires</h3>
                <p>(ou classe similaire)</p>
            </div>
        </div>
    </div>
</section>
