<section class="services">
    <div class="title-content">
        <div class="services-line"></div>
        <div class="title-content2">
            <h2 class="services-h2">drive in'green services</h2>
        </div>
       
    </div>


    
    <div class="services-content-cards">
        <div class="services-card">
            <div class="services-card-imgBx">
                <img src="./../../assets/images/services_recharge.png" alt="recharge au meilleur prix">
            </div>
            <div class="services-text-content">
                <h3>service <br/>de recharge</h3>
                <p>Service de recharge au retour facturé au prix de 0,35€ TTC/kW</p>
            </div>
        </div>
        <div class="services-card">
            <div class="services-card-imgBx">
                <img src="./../../assets/images/services_stationnement.png" alt="stationnement gratuit">
            </div>
            <div class="services-text-content">
                <h3>stationnement gratuit</h3>
                <p>Stationnement gratuit pendant 6 heures partout en Europe</p>
            </div>
        </div>
        <div class="services-card">
            <div class="services-card-imgBx">
                <img src="./../../assets/images/services_serviceClient.png" alt="service client">
            </div>
            <div class="services-text-content">
                <h3>service client disponible</h3>
                <p>Service client disponible à tout moment 24h/7j</p>
            </div>
        </div>
    </div>
</section>