<div class="container">
    <div class="row">
      <div class="text-inscription">
        <h2>Inscription</h2>
      </div>
      <div class="inscription">
        <div class="nom input-inscription">
            <input type="text" name="nom" placeholder="Votre nom">
        </div>
        <div class="prenom input-inscription">
            <input type="text" name="" placeholder="Votre prénom">
        </div>
        <div class="inscription-email input-inscription">
          <input type="email" placeholder="Adresse e-mail"/>
        </div>

        <div class="inscription-password input-inscription">
          <input type="password" placeholder="Mot de Passe"/>
        </div>

        <div class="inscription-password input-inscription">
            <input type="password" placeholder="Confirmer le mot de passe"/>
          </div>

        <div class="btn-inscription">
          <button class="btn-conn">S'inscrire</button>
        </div>

        <div class="about-inscription">
          <div class="forgive about-conn">
              <p class="lien" >Mot de passe oublié </p>
          </div>

          <div class="new-acc about-conn">
              <p class="lien" >Créer un compte</p>
          </div>

        </div>
      </div>
    </div>
  </div>
  